<div class="background-container">
  <div class="titulo-container">
    <h1 class="titulo">Impressoras</h1>
  </div>
  <br>
  <br>
  <div class="conteudo">
    <div class="texto">
      <ul>
        <li>Retire os cartuchos de tinta ou toner;</li>
        <br>
        <li>Remova os componentes removíveis (cabos de alimentação e cabos de dados, baterias...);</li>
        <br>
        <li>Apague ou desconecte informações pessoais;</li>
        <br>
        <li>Procure um ponto de coleta adequado.</li>
      </ul>
    </div>
    <img src="assets/imagem/impressora.png" class="banner-img">
  </div>
</div>
