<div class="background-container">
  <img src="assets/imagem/imagemrota.png" alt="Imagem abaixo do navbar" class="banner-img">

  <div>
    <h1 class="titulo"><b>Sobre Nós:</b></h1>
    <br>
    <div class="texto">
      <p>Somos uma plataforma dedicada a conectar usuários com pontos de descarte de lixo eletrônico.</p>
      <p>Nossa missão é facilitar o acesso a locais seguros e ambientalmente corretos para descarte de aparelhos eletrônicos, contribuindo assim para um planeta mais sustentável.</p>
    </div>

    <div class="contatos">
      <h1 class="ctttxt"><b>Contatos:</b></h1>
      <br>
      <div class="email-container">
        <img src="assets/imagem/o-email.png" alt="Ícone de email" class="icon">
        <p>{{email}}</p>
      </div>
      <br>
      <div class="tel-container">
        <img src="assets/imagem/telefone.png" alt="Ícone de email" class="icon-tel">
        <p>{{tel}}</p>
      </div>
    </div>

  </div>
</div>

