<div class="background-container">
  <div class="titulo-container">
    <h1 class="titulo">Pilhas</h1>
  </div>
  <br>
  <br>
  <div class="conteudo">
    <div class="texto">
      <ul>
        <li>Armazenar as pilhas num pote em casa e depois levá-las a um totem de coleta;</li>
        <br>
        <li>Levar as pilhas separadas até um centro de coleta especializado, que realiza a separação, o armazenamento e o transporte adequados desses materiais.</li>
      </ul>
    </div>
    <img src="assets/imagem/pilhas.png" class="banner-img">
  </div>
</div>
