<div class="background-container">
  <div class="titulo-container">
    <h1 class="titulo">Celulares</h1>
  </div>
  <br>
  <br>
  <div class="conteudo">
    <div class="texto">
      <ul>
        <li>Faça backup de todos os dados importantes armazenados no seu celular;</li>
        <br>
        <li>Apagar os seus dados pessoais usando ferramentas de destruição de dados;</li>
        <br>
        <li>Remova o cartão SIM e o cartão de memória;</li>
        <br>
        <li>Procure um ponto de coleta adequado.</li>
      </ul>
    </div>
    <img src="assets/imagem/usando-o-telefone.png" class="banner-img">
  </div>
</div>
