.navbar-custom {
  background-color: #104108;
  color: white;
}

.navbar-custom .nav-link {
  color: white !important;
  font-size: 25px;
  margin-right: 40px;
}

.navbar-brand{
  color: white !important;
  font-size: 80px;
  margin-right: 20px;
  font-family: Inter, sans-serif;
  font-style: italic;
}



