<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid ms-auto">
    <a class="navbar-brand">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/inicio" routerLinkActive="active" class="nav-link active" aria-current="page">Início</a>
        </li>
        <li class="nav-item">
          <a routerLink="/localizar" routerLinkActive="active" class="nav-link">Localizar</a>
        </li>
        <li class="nav-item">
          <a routerLink="/sobre" routerLinkActive="active" class="nav-link">Sobre Nós</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
