<div class="background-container">
  <h1 class="titulo">Notebooks</h1>
  <br>
  <div class="conteudo">
    <div class="texto">
      <ul>
        <li>Faça backup de todos os dados armazenados no seu notebook;</li>
        <br>
        <li>Apagar os arquivos usando ferramentas de destruição de dados;</li>
        <br>
        <li>Remova componentes valiosos, alguns componentes do notebook, como a bateria, memória RAM e discos rígidos, podem ser reutilizados ou reciclados separadamente.
        </li>
      </ul>
    </div>
    <img src="assets/imagem/computador.png" class="banner-img">
  </div>
</div>
